:root {
  --primary: #2f401b;
  --secondary: #AF990C;
  --third: #E1C50F;
}

.text-primary {
  color: #5B9968 !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-third {
  color: var(--third) !important;
}
