.section-galeri {
  padding-block: 96px;
}

@media (max-width: 992px) {
  .section-galeri {
    padding-block: 50px;
  }
}

.section-galeri .container-galeri {
  flex-direction: column;
  gap: 62px;
}

.section-galeri .subtext-title {
  color: var(--Warning-Warning-800, #887709);
  font-family: var(--display);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  letter-spacing: 0.5px;
}

@media (max-width: 992px) {
  .section-galeri .subtext-title {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .section-galeri .subtext-title {
    font-size: 18px;
  }
}

.section-galeri .subtext-display {
  color: var(--Primary-Primary-300, #698f3c);
  font-family: var(--display);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
  letter-spacing: 0.5px;
}

@media (max-width: 992px) {
  .section-galeri .subtext-display {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .section-galeri .subtext-display {
    font-size: 26px;
  }
}

.section-galeri .content-bottom {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section-galeri .content-bottom .wrap:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: inherit;
}

@media (max-width: 992px) {
  .section-galeri .content-bottom .wrap:nth-child(1) {
    grid-template-columns: repeat(1, auto);
  }
}

.section-galeri .content-bottom .wrap:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: inherit;
}

@media (max-width: 992px) {
  .section-galeri .content-bottom .wrap:nth-child(2) {
    display: none;
  }
}
