.section-home-header {
  padding-top: 60px;
  background-color: #D1DCC3;
}

.section-home-header .container-home-header {
  gap: 40px;
}

.section-home-header .subtext-text-display {
  color: #2f401b;
  text-align: center;
  font-family: var(--display);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  letter-spacing: 0.5px;
}

.section-home-header .subtext-text-subtitle {
  color: #2f401b;
  text-align: center;
  font-family: var(--display);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: 0.5px;
}

.section-home-header .img-home-header {
  max-width: 587px;
}
